#$include /etc/inputrc


set editing-mode vi
set keymap vi-insert


set completion-ignore-case on
set show-all-if-ambiguous on
set menu-complete-display-prefix on

TAB:menu-complete

# color on completion
set colored-stats on

set enable-keypad on

# no delay after escape
set keyseq-timeout 0
